<h2>Sandwich Form</h2>

<form autocomplete="off" novalidate [formGroup]="sandwichForm">
    <section>
        <label>
            Name
            <input type="text" formControlName="name">
            <!--
               - there is: formControlName, formGroupName, formArrayName
               -->
        </label>
        <p class="error" *ngIf="showErrors && sandwichForm.get('name').errors?.minlength">Nazwa kanapki jest za krótka.</p>
        <p class="error" *ngIf="showErrors && sandwichForm.get('name').errors?.maxlength">Nazwa kanapki jest za długa.</p>
    </section>

    <section>
        <label>
            Ingredients
            <ul formGroupName="ingredients">  
                <!--
                   - This is what the 'keyvalue' pipe does
                   - INPUT: {lettuce: false, tomato: false, ... }
                   - OUTPUT: [{ key: 'lettuce', value: false }, { key: 'tomato', value: false }, ...]
                   -->
                <li *ngFor="let ingredient of sandwichForm.get('ingredients').value | keyvalue">
                    <input type="checkbox" [formControlName]="ingredient.key" [value]="ingredient.value"> {{ ingredient.key }}
                </li>
            </ul>
        </label>
    </section>

    <section>
        <label>
            Sauce
            <select formControlName="sauce">
                <option *ngFor="let sauce of sauces" [value]="sauce.value">
                    {{sauce.label}}
                </option>
            </select>
        </label>
    </section>

    <section>
        <label>
            Vege
            <input type="radio" [value]="true" formControlName="vege"> Yes
            <input type="radio" [value]="false" formControlName="vege"> No
        </label>
    </section>
    
    <section>
        <label>
            Price
            <input type="number" fromControlName="price">
        </label>
        <code>{{ sandwichForm.get('name').errors | json }}</code>
        <p class="error" *ngIf="showErrors && sandwichForm.get('price').errors?.max">Cena kanapki jest za wysoka.</p>
    </section>

    <section>
        <button type="button" (click)="save()">Save</button>
    </section>

</form>


