
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./../assets/css/style.css">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ about }}</h1> 
    <h2>{{ subTitle_about }}</h2>
    <p class="info">This is the ABOUT page</p>    

</body>
</html>
