<h2>Sandwich List</h2>

<section>
    <form [formGroup]="searchForm">
        <input type="text" formControlName="query">

        <select formControlName="sort">
            <option value="name">Name</option>
            <option value="price">Price</option>
        </select>

        <select formControlName="order">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>

        <button type="button" (click)="find()">Find</button>
    </form>
</section>

<article>
    <wsb-sandwich-item *ngFor="let sandwich of sandwiches" [sandwich]="sandwich"></wsb-sandwich-item>
</article>
